{% extends 'base.html.twig' %}
{% block body %}
	<body>


	<header class="p-3 bg-dark text-white">
		<div class="container">
			<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
				<a class="navbar-brand me-2" href="/test">
					<img src="https://www.airdebretagne.fr/files/_IMAGES_ZOOM_/file/Images//logoHorizontal2_0x0.png" height="50" loading="lazy" style="margin-top: -1px;"/>
				</a>

				<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
					<li class="nav-item dropdown espace">
						<a class="nav-link dropdown-toggle px-2 text-white" href="/" id="dropdown08" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Présentation</a>
						<div class="dropdown-menu" aria-labelledby="dropdown08">
							<a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Another action</a>
							<a class="dropdown-item" href="#">Something else here</a>
						</div>
					</li>
					<li class="nav-item dropdown espace">
						<a class="nav-link dropdown-toggle px-2 text-white" href="/" id="dropdown08" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Préstation</a>
						<div class="dropdown-menu" aria-labelledby="dropdown08">
							<a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Another action</a>
							<a class="dropdown-item" href="#">Something else here</a>
						</div>
					</li>
					<li class="nav-item dropdown espace">
						<a class="nav-link dropdown-toggle px-2 text-white" href="/" id="dropdown08" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actualités</a>
						<div class="dropdown-menu" aria-labelledby="dropdown08">
							<a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Another action</a>
							<a class="dropdown-item" href="#">Something else here</a>
						</div>
					</li>
					<li class="nav-item dropdown espace">
						<a class="nav-link dropdown-toggle px-2 text-white" href="/" id="dropdown08" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Informations</a>
						<div class="dropdown-menu" aria-labelledby="dropdown08">
							<a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Another action</a>
							<a class="dropdown-item" href="#">Something else here</a>
						</div>
					</li>
				</ul>


				{% if app.user %}
					<div class="text-end">
						<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle px-2 text-white" href="#" id="dropdown08" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ app.user.username }}</a>
								<div class="dropdown-menu" aria-labelledby="dropdown08">
									{% if is_granted('ROLE_ADMIN')%}
										<a class="dropdown-item" href="/admin">Dashboard</a>
									{% endif %}
									<a class="dropdown-item" href="/logout">Déconnexion</a>

								</div>
							</li>
						</ul>
						{# {% if is_granted('ROLE_ADMIN')%}
						          <button type="button" class="btn btn-outline-light me-2">Dashboard</button>
									{% endif %}
						          <button type="button" class="btn btn-warning">Déconnexion</button> #}
					{% else %}
						<button onclick="location.href='/login'" type="button" class="btn btn-outline-light me-2">Connexion</button>
						<button onclick="location.href='/register'" type="button" class="btn btn-warning">S'inscrire</button>
					{% endif %}
				</div>
			</div>
		</div>
	</header>
	
		<nav class="navbar navbar-expand-lg navbar-light bg-light mb-0">
			<div class="container">
				<a class="navbar-brand me-2" href="/test">
					<img src="https://www.airdebretagne.fr/files/_IMAGES_ZOOM_/file/Images//logoHorizontal2_0x0.png" height="16" loading="lazy" style="margin-top: -1px;"/>
				</a>
				<div class="collapse navbar-collapse" id="navbarButtonsExample">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link" href="#">PRÉSENTATION</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">ACTUALITÉS</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">PARTENAIRES</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">INFOS PRATIQUES</a>
						</li>
					</ul>

					<div class="navbar-nav ml-auto">
						{% if app.user %}

							<h3 style="margin-right:20px">
								Bonjour
								{{ app.user.username }}
							</h3>


							{% if is_granted('ROLE_ADMIN')%}
								<a href="/admin">
									<button type="button" class="btn btn-primary" style="margin-right: 10px">Dashboard</button>
								</a>
							{% endif %}

							<a href="/logout">
								<button type="button" class="btn btn-danger mb-2">Déconnexion</button>
							</a>

						{% else %}
							<a href="/login">
								<button type="button" class="btn btn-link px-3 me-2">Connexion</button>
							</a>
							<a href="/register">
								<button type="button" class="btn btn-primary me-3">S'inscrire</button>
							</a>

						{% endif %}
					</div>
				</div>
			</div>
		</nav>

		<main class="container">
			<div class="text-center bg-image rounded-pill img-fluid" style="background-image: url({{ asset('images/noir.png') }});
					    height:500px;
					    margin-bottom: 30px
					    ">

				<div class="col-md-5 p-lg-5 mx-auto my-5">
					<h2 class="display-4 text-white font-weight-normal">Bienvenue sur le site d'AIR de Bretagne</h2>
					<p class="lead text-white font-weight-normal">PRESTATAIRE DE SANTÉ ASSOCIATIF : CULTIVONS LA DIFFÉRENCE.</p>
					<a class="btn  text-white btn-outline-secondary" href="#">Informations</a>
				</div>
				<div class="product-device box-shadow d-none d-md-block"></div>
				<div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
			</div>
			

				<div class="container">
					<div class="row">
							{{ render(controller( 'App\\Controller\\Admin\\HomeTextCrudController::show' )) }}
							{{ render(controller( 'App\\Controller\\Admin\\NewsCrudController::recentNews', { 'max':  3 } )) }}
							
					</div>
				</div>
			</main>

			<footer class="container py-5">
				<div class="row">
					<div class="col-12 col-md">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mb-2">
							<circle cx="12" cy="12" r="10"></circle>
							<line x1="14.31" y1="8" x2="20.05" y2="17.94"></line>
							<line x1="9.69" y1="8" x2="21.17" y2="8"></line>
							<line x1="7.38" y1="12" x2="13.12" y2="2.06"></line>
							<line x1="9.69" y1="16" x2="3.95" y2="6.06"></line>
							<line x1="14.31" y1="16" x2="2.83" y2="16"></line>
							<line x1="16.62" y1="12" x2="10.88" y2="21.94"></line>
						</svg>
						<small class="d-block mb-3 text-muted">&copy; 2022-2023</small>
					</div>
					<div class="col-6 col-md">
						<h5>Assistance respiratoire</h5>
						<ul class="list-unstyled text-small">
							<li>
								<a class="text-muted" href="#">Traitement des apnées du sommeil</a>
							</li>
						</ul>
					</div>
					<div class="col-6 col-md">
						<h5>
							Nutrition</h5>
						<ul class="list-unstyled text-small">
							<li>
								<a class="text-muted" href="#">Insulinothérapie</a>
							</li>
						</ul>
					</div>
					<div class="col-6 col-md">
						<h5>Perfusion</h5>
						<ul class="list-unstyled text-small">
							<li>
								<a class="text-muted" href="#">Matériel de maintien à domicile</a>
							</li>
						</ul>
					</div>
				</div>
			</footer>


			
	<script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
</body>
{% endblock %}