{% extends 'base.html.twig' %}
{% block body %}
	<title>Actualités</title>

	<h1 class="text-center mb-5">Actualités</h1>

	<div class="container">
		{% for n in news %}
			<div class="row text-center">
				<div class="col bg-light">
					<h1>{{n.title}}
					</h1>
					<p>{{ n.date|date('d-m-Y') }}</p>
					<img src="{{asset('images/' ~ n.image)}}" style="height:200px; width:200px">
					<p>{{ n.body|striptags|u.truncate(200)|raw }}</p>
					<a class="text-right" href="{{path('single_actu',{id:n.id})}}">Voir plus</a>
				</div>
			</div>
			<p></p>
		{% endfor %}
	</div>

{% endblock %}

